.row
  .col-lg-2
  .col-lg-8
    .well
      = form_for @institution, html: { class: 'bs-example form-horizontal', :multipart => true } do |f|
        - if @institution.errors.any?
          #error_explanation
            - @institution.errors.full_messages.each do |msg|
              .alert.alert-danger
                %strong= msg
        %fieldset
          .form-group
            = f.label :category, 'Imagen:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.file_field :image, class: 'form-control'
              = f.hidden_field :image_cache
          .form-group
            = f.label :category, 'Categoria:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.select(:category, ['Hospitales', 'Farmacias'], {}, { :class => 'form-control' })
          .form-group
            = f.label :name, 'Nombre:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :address, 'Direccion:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_area :address, class: 'form-control'
          .form-group
            = f.label :phone, 'Telefono:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :phone, class: 'form-control'
          .form-group
            = f.label :mail, 'E-mail:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :mail, class: 'form-control'
          .form-group
            = f.label :web, 'Pagina Web:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :web, class: 'form-control'
          .form-group
            = f.label :desc, 'Descripcion:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.text_area :desc, class: 'form-control wysihtml5'
          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit 'Guardar', class: 'btn btn-primary'
              = link_to 'CANCELAR', institutions_path, class: 'btn btn-default'
  .col-lg-2