- elements = 3
- categories = get_categories
- lotes = (categories.length/elements.to_f).ceil
#fuelux-wizard.wizard.row-fluid
  %ul.wizard-steps
    %li.active{"data-target" => "#step1"}
      %span.step 1
      %span.title
        Información
        %br/
        General
    %li{"data-target" => "#step2"}
      %span.step 2
      %span.title
        Categorías
    %li{"data-target" => "#step3"}
      %span.step 3
      %span.title
        Análisis
    %li{"data-target" => "#step4"}
      %span.step 4
      %span.title
        Resultados
= form_tag '' do
  .step-content
    #step1.step-pane.active
      .row-fluid.form-wrapper.payment-info
        .span8
          .field-box
            %label Paciente:
            = text_field :patient, '', class: 'span8 patient-typeahead', data: { url: patients_analyzes_path(format: :json) }
          .field-box
            %label Medico Solicitante:
            = text_field :medical, '', class: 'span8 medical-typeahead', data: { url: medical_analyzes_path(format: :json) }
          .field-box
            %label Entrega de la muestra:
            %input.span4{:placeholder => "Fecha", :type => "text", :class => "datepicker"}/
            %input.span2{:placeholder => "Hora", :type => "text"}/
          .field-box
            %label Entrega:
            %input.span4{:placeholder => "Fecha", :type => "text", :class => "datepicker"}/
            %input.span2{:placeholder => "Hora", :type => "text"}/
    #step2.step-pane
      - (1..lotes).each do |lote|
        - start = elements * (lote - 1)
        .row-fluid.form-wrapper
          - categories[start, elements].each do |category|
            .span4.column
              .field-box.span4
                %label.checkbox{ style: 'width: 100%;' }
                  .checker
                    %span
                      = check_box_tag '', 'true', false
                  %strong= category.description
    #step3.step-pane
      - (1..lotes).each do |lote|
        - start = elements * (lote - 1)
        .row-fluid.form-wrapper
          - categories[start, elements].each do |category|
            .span4.column
              %h4.span8= category.description
              .field-box.span4
                - category.children.each do |subcategory|
                  %label.checkbox{ style: 'width: 100%;' }
                    .checker
                      %span
                        = check_box_tag '', 'true', false
                    = subcategory.description
    #step4.step-pane
      .row-fluid.form-wrapper
        %table.table.table-striped
          %thead
            %tr
              %th PARÁMETRO
              %th RESULTADO
              %th UNIDADES
              %th VALORES DE REFERENCIA
          %tbody
            %tr
              %td Globulos Rojos
              %td
                %input{:type => "text", :style => "height: 15px;text-align: center;width: 60px;"}/
              %td millones/mm3
              %td Varon 5,2 - 6,6 mujer 4,5 - 5,5
            %tr
              %td Hematocrito
              %td
                %input{:type => "text", :style => "height: 15px;text-align: center;width: 60px;"}/
              %td %
              %td Varon 49 - 57 mujer 45 - 42
            %tr
              %td V.C.M
              %td
                %input{:type => "text", :style => "height: 15px;text-align: center;width: 60px;"}/
              %td pg
              %td 27 - 32
  .wizard-actions
    %button.btn-glow.primary.btn-prev{:type => "button"}
      %i.icon-chevron-left
      Anterior
    %button.btn-glow.primary.btn-next{"data-last" => "Finish", :style => "display: inline-block;", :type => "button"}
      Siguiente
      %i.icon-chevron-right
    %button.btn-glow.success.btn-finish{:style => "display: none;", :type => "button"}
      Finalizar Analisis

:javascript
  $(function () {
    var $wizard = $('#fuelux-wizard'),
    $btnPrev = $('.wizard-actions .btn-prev'),
    $btnNext = $('.wizard-actions .btn-next'),
    $btnFinish = $(".wizard-actions .btn-finish");

    $btnPrev.attr("disabled", "disabled");

    $wizard.wizard().on('finished', function(e) {
    // wizard complete code
    }).on("changed", function(e) {
      var step = $wizard.wizard("selectedItem");
      // reset states
      $btnNext.removeAttr("disabled");
      $btnPrev.removeAttr("disabled");
      $btnNext.show();
      $btnFinish.hide();
      if (step.step === 1) {
        $btnPrev.attr("disabled", "disabled");
      } else if (step.step === 4) {
        $btnNext.hide();
        $btnFinish.show();
      }
    });
    $btnPrev.on('click', function() {
      $wizard.wizard('previous');
    });
      $btnNext.on('click', function() {
      $wizard.wizard('next');
    });



















    $(function () {
    // add uniform plugin styles to html elements
    $("input:checkbox, input:radio").uniform();
    // select2 plugin for select elements
    $(".select2").select2({
    placeholder: "Select a State"
    });
    // datepicker plugin
    $('.datepicker').datepicker().on('changeDate', function (ev) {
    $(this).datepicker('hide');
    });
    // wysihtml5 plugin on textarea
    $(".wysihtml5").wysihtml5({
    "font-styles": false
    });
    }); $(function () {
    // add uniform plugin styles to html elements
    $("input:checkbox, input:radio").uniform();
    // select2 plugin for select elements
    $(".select2").select2({
    placeholder: "Select a State"
    });
    // datepicker plugin
    $('.datepicker').datepicker().on('changeDate', function (ev) {
    $(this).datepicker('hide');
    });
    // wysihtml5 plugin on textarea
    $(".wysihtml5").wysihtml5({
    "font-styles": false
    });
    });
  });
