= form_for @notice do |f|
  - if @notice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notice.errors.count, "error")} prohibited this notice from being saved:"
      %ul
        - @notice.errors.full_messages.each do |msg|
          %li= msg

  .span12.field-box
    = f.label :title, 'Titulo'
    = f.text_field :title, class: 'span9'
  .span12.field-box
    = f.label :description, 'Descripcion:'
    = f.text_area :description, class: 'span9'
  .span12.field-box
    = f.label :image, 'Imagen:'
    = f.text_field :image, class: 'span9'
  .span11.field-box.actions
    = f.submit 'Crear Anuncio', class: 'btn-glow primary'
    %span O
    = link_to 'CANCELAR', notices_path, class: 'reset'