.row
  .col-lg-1
  .col-lg-10
    .well
      = form_for @notice do |f|
        - if @notice.errors.any?
          #error_explanation          
            - @notice.errors.full_messages.each do |msg|
              .alert.alert-danger
                %strong= msg
        %fieldset
          .form-group{style: "float: left; width: 100%;"}
            = f.label :image, 'Imagen:', class: "col-lg-2 control-label"
            .col-lg-10
              = f.file_field :image, class: 'form-control'
              = f.hidden_field :image_cache
          .form-group{style: "float: left; width: 100%;"}
            = f.label :title, 'Titulo', class: "col-lg-2 control-label"
            = f.text_field :title, class: 'form-control'
          .form-group{style: "float: left; width: 100%;"}
            = f.label :description, 'Descripcion:', class: "col-lg-2 control-label"
            = f.text_area :description, class: 'form-control wysihtml5'
        .form-group
          .col-lg-10.col-lg-offset-2
            = f.submit 'Guardar', class: 'btn btn-primary'
            = link_to 'CANCELAR', notices_path, class: 'btn btn-default'