= form_for @notice do |f|
  - if @notice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notice.errors.count, "error")} prohibited this notice from being saved:"
      %ul
        - @notice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit 'Save'
