%h2 Anuncios
%br
%br
/ Users table
.row-fluid.table
  %table.table.table-hover.table-striped.table-bordered
    %thead
      %tr
        %th.span3.sortable Titulo
        %th.span2.sortable Descripcion
        %th.span2.sortable Imagen
        %th{colspan: "3"}
    %tbody
      - @notices.each do |notice|
        %tr
          %td= notice.title
          %td= notice.description
          %td= notice.image
          %td= link_to 'Show', notice
          %td= link_to 'Edit', edit_notice_path(notice)
          %td= link_to 'Destroy', notice, :method => :delete, :data => { :confirm => 'Are you sure?' }