.container
  .row
    .col-lg-12
      .page-header
        %h1#forms Anuncios
  .row
    .col-lg-1
    .col-lg-10
      %table.table.table-hover.table-striped.table-users
        %thead
          %tr
            %th Titulo
            %th Descripcion
            %th Imagen
            %th{colspan: "3"}
        %tbody
          - @notices.each do |notice|
            %tr
              %td= notice.title
              %td= notice.description
              %td= image_tag notice.image.url(:thumb), class: "avatar"
              %td= link_to 'Ver', notice
              %td= link_to 'Editar', edit_notice_path(notice)
              %td= link_to 'Eliminar', notice, :method => :delete, :data => { :confirm => 'Estas seguro?' }
    .col-lg-1