.span4.box
  .content-wrap
    %h6 Registro
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.email_field :email, :autofocus => true, :class => 'span12', :placeholder => "E-mail"
      = f.password_field :password, :class => 'span12', :placeholder => "Password"
      = f.password_field :password_confirmation, :class => 'span12', :placeholder => "Password Confirmation"
      %div= f.submit "Registrarme ahora", :class => 'btn-glow primary login'
= render "devise/shared/links"