.row-fluid.form-wrapper
  / left column
  .span9.with-sidebar
    .container
      = form_for @test_category, html: { class: 'new_test_category_form inline-input' } do |f|
        - if @test_category.errors.any?
          #error_explanation
            %h2= "#{pluralize(@test_category.errors.count, "error")} prohibited this test_category from being saved:"
            %ul
              - @test_category.errors.full_messages.each do |msg|
                %li= msg
        .span12.field-box
          = f.label :parent_id, 'Categoría Padre:'
          .ui-select.span5
            = f.select :parent_id, options_for_select(get_test_category_roots, f.object.parent_id), include_blank: true
        .span12.field-box
          = f.label :description, 'Descripción:'
          = f.text_field :description, class: 'span9'
        .span11.field-box.actions
          = f.submit 'Guardar Categoría', class: 'btn-glow primary'
          %span OR
          = link_to 'CANCEL', test_categories_path, class: 'reset'
