.row
  .col-lg-2
  .col-lg-8
    .well
      = form_for @test_category, html: { class: 'new_test_category_form inline-input' } do |f|
        - if @test_category.errors.any?
          #error_explanation
            - @test_category.errors.full_messages.each do |msg|
              .alert.alert-danger
                %strong= msg
        %fieldset
          .form-group
            = f.label :parent_id, 'Categoría Padre:', class: 'col-lg-2 control-label'
            .col-lg-10
              = f.select(:parent_id, options_for_select(get_test_category_roots, f.object.parent_id), {}, { :class => 'form-control span7' })
          .form-group
            = f.label :description, 'Descripción:',  class: 'col-lg-2 control-label'
            = f.text_area :description, class: 'form-control'
          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit 'Guardar', class: 'btn btn-primary'
              = link_to 'CANCELAR', test_categories_path, class: 'btn btn-default'