.row
  .col-lg-12
    .page-header
      %h2 Categorías

.row  
  .col-lg-12
    %table.table.table-hover.table-striped.table-users
      %thead
        %tr
          %th Descripción
          %th Subcategorías
          %th Contacto
          %th 
      %tbody

      %tbody
        - @test_categories.each_with_index do |test_category, index|
          %tr{ class: "#{ index == 0 ? 'first' : '' }" }
            %td= test_category.description
            %td
              = link_to_if test_category.children.count > 0, pluralize(test_category.children.count, 'subcategoría'), test_category_path(test_category)
            %td= link_to 'Nueva Subcategoría', new_test_category_path(parent_id: test_category.id), :class => 'btn btn-primary btn-sm'
            %td
              = link_to edit_test_category_path(test_category), :class => 'btn btn-primary btn-sm' do
                %i.icon.icon-edit.icon-white
                Editar

              = link_to "#modal-test-#{test_category.id}", :class => 'btn btn-default btn-sm', :'data-toggle' => 'modal' do
                %i.icon.icon-remove.icon-white
                Eliminar
                
                / Modal
                .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-test-#{test_category.id}"}
                  .modal-dialog
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                      %h4.modal-title Eliminar Categoría
                    .modal-body= "Esta seguro de Eliminar este user"
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancelar
                      = link_to "Ok", test_category_path(test_category), :class => 'btn btn-primary', method: :delete