.container.padding5
  .row
    .col-lg-12
      .page-header
        %h2 Médicos
        .pull-right.margin-search.doctors-search
          = form_tag doctors_path, html: { class: 'bs-example form-horizontal'}, :method => "get" do
            .select
              /= select_tag :specialty_id, options_for_select(Specialty.all.map { |s| [s.name, s.id] }), {}, {class: "chosen-select span5", :"data-placeholder" => "Seleccione una Especialidad"}
              = select_tag(:e, options_for_select(Specialty.all.map { |s| [s.name, s.id] }), class: "chosen-select span5", :"data-placeholder" => "Seleccione una Especialidad")
            .sub= submit_tag "Buscar", class: 'btn btn-primary'

    .row
      - if @user.present?
        - @user.each do |user|
          .col-sm-4.no-padding
            .postMedical
              .top
                .img
                  - if user.image.present?
                    = image_tag user.image.url(:thumb), class: "img-responsive"
                  - else
                    %img.avatar.bb{ src: "/images/user-icon.jpg", width: "140" }/
                .text
                  .title._1= user.full_name
                  .title._2.muted= user.specialty_name
                  - if user.contact_numbers.present?
                    %p
                      %i.icon.icon-phone.icon-white
                      = user.contact_numbers
              .bottom
                - if user.address.present?
                  %p
                    %i.icon.icon-home.icon-white
                    = user.address

                - if user.email.present?
                  %p
                    %i.icon.icon-envelope.icon-white
                    = user.email

                - if user.notes.present?
                  %p
                    %i.icon.icon-globe.icon-white
                    = user.notes.html_safe
      - else
        .alert.alert-info
          No hay médicos para mostrar.

:javascript
  $(".chosen-select").chosen({no_results_text: "Ninguna coincidencia!"});