.container
  .row
    .col-lg-12
      .page-header
        %h1#forms Usuarios

  .row-fluid.header
    .span10.pull-right
      .span4
        %input.search{:placeholder => "Escriba un nombre de usuario...", :type => "text"}/
      .span3
        .ui-select
          %select
            %option{:value => ""} Tipo de Usuario
            %option{:value => "AK"} Medico
            %option{:value => "HI"} Paciente
            %option{:value => "CA"} Otro
      .span2
        %a.btn-glow.primary Buscar
    / Users table
  .row
    .col-lg-1
    .col-lg-10
      %table.table.table-hover.table-striped.table-users
        %thead
          %tr
            %th 
            %th Nombre
            %th Tipo de Usuario
            %th Contacto
            %th Fecha de Registro
            %th Email
            %th 
        %tbody
          - @users.each_with_index do |user, index|
            %tr{ class: "#{ index == 0 ? 'first' : '' }" }
              %td
                - if user.image.present?
                  = image_tag user.image.url(:thumb), class: "img-circle avatar hidden-phone"
                - else
                  %img.img-circle.avatar.hidden-phone{:src => "/images/contact-img.png"}/
              %td= link_to user.full_name, profile_user_path(user), class: 'name'
              %td= user.role
              %td= user.contact_numbers
              %td= I18n.l user.created_at, format: :long
              %td= mail_to user.email
              %td
                = link_to 'Edit', edit_user_path(user), class: "btn btn-primary"
                = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default"
    .col-lg-1

    / end users table
    / end main container