.span4.box
  .content-wrap
    %h6 Olvidaste tu contraseña?
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      = f.email_field :email, :autofocus => true, :class => 'span12', :placeholder => "E-mail"
      = f.submit "Enviar", :class => 'btn-glow primary login'
= render "devise/shared/links"