.col-lg-12
  - elements = 3
  - categories = get_categories
  - lotes = (categories.length/elements.to_f).ceil
  #fuelux-wizard.wizard.row-fluid.step-content
    %ul.wizard-steps
      %li.active{"data-target" => "#step1"}
        %span.step 1
        %span.title
          %h4 Información General
      %li{"data-target" => "#step2"}
        %span.step 2
        %span.title
          %h4 Areas
      %li{"data-target" => "#step3"}
        %span.step 3
        %span.title
          %h4 Examenes
      %li{"data-target" => "#step4"}
        %span.step 4
        %span.title
          %h4 Resultados
  = form_for @analysis, html: { multipart: true } do |f|
    - if @analysis.errors.any?
      #error_explanation
        /%h2= "#{pluralize(@analysis.errors.count, "error")} prohibited this analysis from being saved:"
        - @analysis.errors.full_messages.each do |msg|
          .alert.alert-danger
            %strong= msg

    .step-content
      #step1.step-pane.active
        .row-fluid.form-wrapper.payment-info
          .col-lg-10.col-md-offset-1
            .form-group
              = f.label :patient_full_name, 'Paciente:', class: "col-lg-2 control-label"
              = f.select :patient_id, options_for_select(User.patients.map{|p| [p.full_name, p.id]}), {}, {class: "chosen-select span8", :"data-placeholder" => "Seleccione un Paciente"}
              
              .check-right
                = f.check_box :patient_type_selector, class: 'show-patient-name'
                No Registrado

              = f.text_field :patient_name, class: 'form-control span7', style: 'display: none;'
            .form-group
              - if current_user.is_admin?
                = f.label :doctor_full_name, 'Médico Solicitante:', class: "col-lg-2 control-label"
                = f.select :doctor_id, User.medical.map{|p| [p.full_name, p.id]}, {}, {class: "chosen-select span8", :"data-placeholder" => "Seleccione un Médico"}
              - elsif current_user.is_medical?
                = f.hidden_field :doctor_id, value: current_user.id
            .form-group{style: "float:left;"}
              = f.label :receipt_date, 'Toma muestra:', class: "col-lg-2 control-label"
              .group-date-time
                = f.text_field :receipt_date, value: f.object.receipt_date, class: 'form-control datepicker span6', placeholder: 'Fecha'
                .input-append.bootstrap-timepicker.span5
                  = f.text_field :receipt_time, class: 'form-control input-small timepicker span7'
                  %span.add-on.input-append.timepicker-clock
                    %i.icon-time
            .form-group{style: "float:left;"}
              = f.label :delivery_date, 'Entrega de Resultado:', class: "col-lg-2 control-label"
              .group-date-time
                = f.text_field :delivery_date, value: f.object.delivery_date, class: 'form-control span6 datepicker', placeholder: 'Fecha'
                .input-append.bootstrap-timepicker.span5
                  = f.text_field :delivery_time, class: 'form-control input-small timepicker span7'
                  %span.add-on.input-append.timepicker-clock
                    %i.icon-time

      #step2.step-pane.editing-categories
        - (1..lotes).each do |lote|
          - start = elements * (lote - 1)
          .row-fluid
            .col-lg-10.col-md-offset-1
              - categories[start, elements].each do |category|
                .span4.column
                  .field-box
                    %label.checkbox{ style: 'width: 100%;' }
                      = check_box_tag 'category', category.id, check_category(@analysis, category) , class: 'category-check', data: { id: category.id, dom_id: dom_id(category) }
                      %strong= category.description.html_safe

      #step3.step-pane
        - (1..lotes).each do |lote|
          - start = elements * (lote - 1)
          .row-fluid.form-wrapper
            .col-lg-10.col-md-offset-1
              - categories[start, elements].each do |category|
                .span4.column{"data-category" => category.id}
                  %h4.span8= category.description.html_safe
                  .field-box
                    - category.children.each do |subcategory|
                      %label.checkbox{ style: 'width: 100%;' }
                        = check_box_tag 'analysis[category_ids][]', subcategory.id, check_subcategory(@analysis, subcategory), class: 'category-check', data: { analysis_id: @analysis.id, dom_id: dom_id(subcategory) }
                        = subcategory.description.html_safe

      #step4.step-pane
        = render 'tests', categories: @analysis.categories, analysis: @analysis, parents: @parents

    .wizard-actions
      = button_tag class: 'btn btn-primary btn-prev', type: 'button' do
        %i.icon-chevron-left
        Anterior
      = button_tag class: 'btn btn-primary btn-next', type: 'button', style: 'display: inline-block;', data: { last: 'Finish', id: @analysis.id } do
        Siguiente
        %i.icon-chevron-right
      = button_tag class: 'btn btn-success btn-finish', styel: 'display: none;' do
        Finalizar Análisis
