%h2 Listado de Analisis
%br
%br
.bs-example
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Paciente
        %th Doctor
        %th Fecha de Recepcion
        %th Fecha de Entrega
        %th
        %th
        %th
    %tbody
      - @analyses.each do |analysis|
        %tr
          %td= analysis.patient_full_name
          %td= analysis.doctor_full_name
          %td= analysis.receipt_date.to_date
          %td= analysis.delivery_date.to_date
          %td= link_to 'Ver', analysis
          %td= link_to 'Editar', edit_analysis_path(analysis)
          %td= link_to 'Borrar', analysis, :method => :delete, :data => { :confirm => 'Esta seguro?' }

%br

/= link_to 'New Analysis', new_analysis_path
