.row
  .col-lg-12
    .page-header
      %h2 Listado de Análisis
      / .pull-right.margin-search
      /   = form_tag analyses_path, html: { class: 'bs-example form-horizontal'}, :method => "get" do
      /     .span1
      /     .span3= text_field_tag :q, "", class: 'form-control'
      /     .span1= submit_tag "Buscar", class: 'btn btn-primary'

.row
  .col-lg-12
    - if @analyses.present?
      %table.table.table-hover.table-striped.table-users
        %thead
          %tr
            %th.text-center Paciente
            %th.text-center Doctor
            %th.text-center Fecha de Recepción
            %th.text-center Fecha de Entrega
            %th.text-center
        %tbody
          - @analyses.each do |analysis|
            %tr
              %td.text-center
                - if analysis.patient_type_selector
                  = analysis.patient_name
                - else
                  = analysis.patient_full_name
              %td.text-center= analysis.doctor_full_name
              %td.text-center= analysis.receipt_date
              %td.text-center= analysis.delivery_date
              %td
                - if can? :read, analysis
                  = link_to analysis, :class => 'btn btn-primary btn-sm' do
                    %i.icon.icon-loupe.icon-white
                    Ver
                - if can? :update, analysis
                  = link_to edit_analysis_path(analysis), :class => 'btn btn-primary btn-sm' do
                    %i.icon.icon-remove.icon-edit
                    Editar
                - if can? :destroy, analysis
                  = link_to "Eliminar", analysis, :class => 'btn btn-default btn-sm', method: :delete, :data => { :confirm => 'Esta seguro de Eliminar este Analisis?' }
    - else
      .alert.alert-info
        No hay análisis para mostrar.

/= link_to 'New Analysis', new_analysis_path
