- @parents.each do |parent|
  - @cats = @categories.select { |c| c.parent == parent}

  .titleCategory= parent.description.html_safe

  - @cats.each do |category|
    .block-container
      %h4.titleSubCategory= category.description.html_safe
      - if category.category == "table1"
        %table.table
          %thead
            %tr
              %th.text-center._p1 PARÁMETRO
              %th.text-center._p2 RESULTADO
              %th.text-center._p3 UNIDADES
              %th.text-center._p4 VALORES DE REFERENCIA
          %tbody
            - category.tests.each do |test|
              - if @test_ids.include?(test.id)
                - laboratory = get_result_for(@analysis, test)
                %tr
                  %td.align-left= test.parameter.html_safe
                  %td.text-center.result
                    - if laboratory.present? && laboratory.result.present?
                      = laboratory.result
                  %td.text-center= test.unit
                  %td.text-center= test.reference_values.html_safe

      - if category.category == "table2"
        %table.table
          %thead
            %tr
              %th.text-center._p1 PARÁMETRO
              %th.text-center._p2 RESULTADO
              %th.text-center._p3 UNIDADES
              %th.text-center._p4 VALORES DE REFERENCIA
          %tbody
            - category.tests.each do |test|
              - if @test_ids.include?(test.id)
                - laboratory = get_result_for(@analysis, test)
                %tr
                  %td.text-center= test.parameter.html_safe
                  %td.text-center.result
                    - if laboratory.present? && laboratory.result.present?
                      = laboratory.result
                  %td.text-center= test.unit
                  %td.text-center= test.reference_values.html_safe
                %tr
                  %td.spacing2{:colspan=>4}

      - if category.category == "table3"
        %table.table.table4
          %thead
            %tr
              %th.text-center._1 PARÁMETRO
              %th.text-center._2 RESULTADO
              %th.text-center._3 VALORES DE REFERENCIA
          %tbody
            - category.tests.each do |test|
              - if @test_ids.include?(test.id)
                - laboratory = get_result_for(@analysis, test)
                %tr
                  %td.align-left= test.parameter.html_safe
                  %td.text-center.result
                    - if laboratory.present? && laboratory.result.present?
                      = laboratory.result
                  %td.text-center= test.reference_values.html_safe

      - if category.category == "table4"
        %table.table.table2
          %thead
            %tr
              %th.text-center PARÁMETRO
              %th.text-center RESULTADO
          %tbody
            - category.tests.each do |test|
              - if @test_ids.include?(test.id)
                - laboratory = get_result_for(@analysis, test)
                %tr
                  %td.align-left= test.parameter.html_safe
                  %td.text-center.result
                    - if laboratory.present? && laboratory.result.present?
                      = laboratory.result

      - if category.category == "image"
        %table.table
          %tbody
            - category.tests.each do |test|
              - if @test_ids.include?(test.id)
                - laboratory = get_result_for(@analysis, test)
                %tr
                  %td.text-center{colspan: 3}
                    - if laboratory.present? && laboratory.image.present?
                      = wicked_pdf_image_tag_j laboratory.image.url, style: ";margin:0 auto;float:none;height:680px"

      - if category.category == "desc"
        %table.table
          %thead
            %tr
              %th.text-center Descripcion
          %tbody
            - category.tests.each do |test|
              - if @test_ids.include?(test.id)
                - laboratory = get_result_for(@analysis, test)
                %tr
                  %td.text-center{colspan: 3}
                    - if laboratory.present? && laboratory.desc.present?
                      = laboratory.desc.html_safe


:css
  .block-container { page-break-inside:avoid; page-break-after:auto; }
  table, tr, td, th, tbody, thead, tfoot    { page-break-inside:avoid; page-break-after:auto }

  .block-container{
    /*float:left;*/
    margin: 0 0 0 53px;
    width: 572px;
  }
  table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .block-container th, .block-container td {
    /*border-top: 1px solid #DDDDDD;*/
    border: 1px solid #000;
    line-height: 20px;
    padding: 0 8px;
    text-align: left;
    vertical-align: top;
    font-size: 11px;
    background-color: transparent;
    text-align:center;
    font-family: Arial;
  }
  .block-container th {
    border: 1px solid #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    vertical-align: bottom;
    background-color: #CCCCCC;
    font-size:10px;
  }
  .block-container td {
    text-align:center;
    vertical-align: middle;
  }

  .block-container tbody + tbody {
    border-top: 2px solid #DDDDDD;
  }
  .block-container .table {
    background-color: transparent;
  }
  .titleCategory{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight:bold;
    height:30px;
    font-family: Arial;
    text-transform: uppercase;
    /*margin-top: 20px;*/
    margin-top: 10px;
  }
  .spacing{
    height:10px;
  }
  .spacing2{
    height:10px;
    border: 0 !important;
  }

  .titleSubCategory{
    margin: 5px 0 1px;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 10px;
  }
  .table2{
    margin: 0 0 0 80px;
    width: 400px;
  }
  .table4{
    margin: 0 0 0 34px;
    width: 500px;
  }
  .table4 ._1{
    width: 250px;
  }
  .table4 ._2{
    width: 125px;
  }
  .table4 ._3{
    width: 165px;
  }

  th._p1{
    width: 100px;
  }
  th._p2{
    width: 87px;
  }
  th._p3{
    width: 87px;
  }
  .align-left{
    text-align: left !important;
  }
  .result{
    font-size:12px !important;
    font-weight:bold !important;
  }