.pdf-container
  .bs-example
    %table.tablepdf
      %thead
        %tr.success
          %th Paciente
          %th Médico
          %th Fecha de recepción
          %th Fecha de entrega
      %tbody
        %tr
          %td= @analysis.patient_full_name
          %td= @analysis.doctor_full_name
          %td= I18n.l @analysis.receipt_datetime, format: :long
          %td= I18n.l @analysis.delivery_datetime, format: :long

  - @categories.each do |category|
    %h4= category.description
    .row-fluid.form-wrapper
      %table.tablepdf.table-striped
        %thead
          %tr
            %th PARÁMETRO
            %th RESULTADO
            %th UNIDADES
            %th VALORES DE REFERENCIA
        %tbody
          - category.tests.each do |test|
            - laboratory = get_result_for(@analysis, test)
            %tr
              %td.text-center= test.parameter
              - if test.test_type == "image"
                %td.text-center{colspan: 3}
                  - if laboratory.present? && laboratory.image.present?
                    = wicked_pdf_image_tag_j laboratory.image.url
                   
              - if test.test_type == "desc"
                %td.text-center{colspan: 3}
                  - if laboratory.present? && laboratory.desc.present?
                    = laboratory.desc

              - if test.test_type == "normal"
                %td.text-center
                  - if laboratory.present? && laboratory.result.present?
                    = laboratory.result
                %td.text-center= test.unit
                %td.text-center= test.reference_values

:css
  .pdf-container{
    float:left;
    width: 600px;
    margin: 100px 0 0 100px;
  }
  table {
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;
      max-width: 100%;
  }
  .tablepdf {
      margin-bottom: 20px;
      width: 100%;
  }
  .tablepdf th, .tablepdf td {
      border-top: 1px solid #DDDDDD;
      line-height: 20px;
      padding: 8px;
      text-align: left;
      vertical-align: top;
      font-size: 12px;
      background-color: #ccc;
  }
  .tablepdf th {
      font-weight: bold;
      text-align:center;
  }
  .tablepdf td {
      text-align:center;
  }
  .tablepdf thead th {
      vertical-align: bottom;
  }
  .tablepdf caption + thead tr:first-child th, .tablepdf caption + thead tr:first-child td, .tablepdf colgroup + thead tr:first-child th, .tablepdf colgroup + thead tr:first-child td, .tablepdf thead:first-child tr:first-child th, .tablepdf thead:first-child tr:first-child td {
      border-top: 0 none;
  }
  .tablepdf tbody + tbody {
      border-top: 2px solid #DDDDDD;
  }
  .tablepdf .table {
      background-color: #FFFFFF;
  }
  .table-condensed th, .table-condensed td {
      padding: 4px 5px;
  }
  .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
      background-color: #F9F9F9;
  }
  .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
      background-color: #F5F5F5;
  }
