%p#notice= notice

%p
  %b Paciente:
  = @analysis.patient_full_name
%p
  %b Médico:
  = @analysis.doctor_full_name
%p
  %b Fecha de recepción:
  = I18n.l @analysis.receipt_datetime, format: :long
%p
  %b Fecha de entrega:
  = I18n.l @analysis.delivery_datetime, format: :long

%p
  - @categories.each do |category|
    %h4= category.description
    .row-fluid.form-wrapper
      %table.table.table-striped
        %thead
          %tr
            %th PARÁMETRO
            %th RESULTADO
            %th UNIDADES
            %th VALORES DE REFERENCIA
        %tbody
          - category.tests.each do |test|
            - laboratory = get_result_for(@analysis, test)
            %tr
              %td= test.parameter
              %td= laboratory.try(:result)
              %td= test.unit
              %td= test.reference_values

= link_to 'Editar', edit_analysis_path(@analysis)
\|
= link_to 'Atrás', analyses_path
