.span4.box
  .content-wrap
    %h6 Log in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.text_field :login, :autofocus => true, :class => 'span12 form-control', :placeholder => "Email o Nombre de Usuario"
      = f.password_field :password, :class => 'span12 form-control', :placeholder => "Password"
      /%a.forgot{:href => "#"} Forgot password?

      %div= f.submit "Ingresar", :class => 'btn-glow primary login'
= render "devise/shared/links"
