.row
  .col-lg-1
  .col-lg-10
    .well
      = form_for @test, html: { class: 'inline-input' } do |f|
        - if @test.errors.any?
          #error_explanation           
            - @test.errors.full_messages.each do |msg|
              .alert.alert-danger
                %strong= msgx
        %fieldset
          = f.hidden_field :test_type, :value => @test.test_category_category
          //@test.test_category.category
          /= @test.test_category.description
          .form-group{style: "float: left; width: 100%;"}
            = f.label :test_category_id, 'Categoría:', class: 'col-lg-2 control-label'
            .col-lg-10
              = f.grouped_collection_select(:test_category_id, get_categories, :children, :description, :id, :description, { :include_blank => false }, { :class=> "form-control" })
          / .form-group{style: "float: left; width: 100%;"}
          /   = f.label :test_type, 'Tipo de Test:', class: 'col-lg-2 control-label'
          /   .col-lg-10
          /     = f.select(:test_type, options_for_select([['normal', 'normal'], ['imagen', 'image'], ['descripcion', 'desc']], @test.test_type), {include_blank: true}, { :class => 'form-control', data: {new: @test.new_record?} })
          .form-group{style: "float: left; width: 100%;"}
            = f.label :parameter, 'Parámetro:', class: "col-lg-2 control-label label-form-2"
            = f.text_field :parameter, :class => "col-lg-7 inline-input form-control input-form-2"
          .form-group{style: "float: left; width: 100%;"}
            = f.label :unit, 'Unidad:', class: "col-lg-2 control-label label-form-2"
            = f.text_field :unit, :class => "col-lg-7 inline-input form-control input-form-2"
          .form-group{style: "float: left; width: 100%;"}
            = f.label :reference_values, 'Valores de Referencia:', class: "col-lg-2 control-label label-form-2"
            = f.text_area :reference_values, :class => "col-lg-7 inline-input form-control input-form-2 wysihtml5"
          / .form-group{style: "float: left; width: 100%;"}
          /   = f.label :description, 'Descripción:', class: "col-lg-2 control-label label-form-2"
          /   = f.text_area :description, :class => "col-lg-7 form-control input-form-2"
          .form-group{style: "float: left; width: 100%;"}
            .col-lg-10.col-lg-offset-2
              = f.submit 'Guardar', class: 'btn btn-primary'
              = link_to 'CANCELAR', tests_path, class: 'btn btn-default'
:javascript
  / $(document).ready(function(){
  /   $(".group").hide();
  /   if($("#test_test_type").data("new") === false){

  /     $("#" + $("#test_test_type").val()).show();
  /   }

  /   $("#test_test_type").change(function(){
  /     $(".group").hide();
  /     $("#"+$(this).val()).show();
  /   });
  / });

:css
  .label-form-2{width:140px;}
  .input-form-2{width:400px;}