.row-fluid.form-wrapper
  / left column
  .span9.with-sidebar
    .container
      = form_for @test, html: { class: 'inline-input' } do |f|
        - if @test.errors.any?
          #error_explanation
            /%h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
            - @test.errors.full_messages.each do |msg|
              .alert.alert-danger
                %strong= msg

        .span12.field-box
          %label Categoría
          .ui-select.span5
            = f.grouped_collection_select :test_category_id, get_categories, :children, :description, :id, :description
        .span12.field-box
          %label Parámetro:
          = f.text_field :parameter, :class => "span9 inline-input"
        .span12.field-box
          %label Unidad:
          = f.text_field :unit, :class => "span9 inline-input"
        .span12.field-box
          %label Valores de Referencia:
          = f.text_field :reference_values, :class => "span9 inline-input"
        .span12.field-box
          %label Tipo de Test:
          = f.text_field :test_type, :class => "span9 inline-input"
        .span12.field-box
          %label Descripción:
          = f.text_area :description, :class => "span9"
        .span12.field-box
          = f.label :image
          = f.text_field :image, :class => "span9 inline-input"
        .span11.field-box.actions
          = f.submit 'Guardar', class: 'btn-glow primary'
          %span O
          = link_to 'CANCELAR', tests_path, class: 'reset'
