= form_for @test do |f|
  - if @test.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :test_category
    = f.select :test_category_id, options_for_select(TestCategory.all.map { |t| [t.description, t.id] })
  .field
    = f.label :parameter
    = f.text_field :parameter
  .field
    = f.label :result
    = f.text_field :result
  .field
    = f.label :unit
    = f.text_field :unit
  .field
    = f.label :reference_values
    = f.text_field :reference_values
  .field
    = f.label :test_type
    = f.text_field :test_type
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit 'Save'
