= form_for @test do |f|
  - if @test.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg

  .field-box
    %label Categoria
    .ui-select= f.select :test_category_id, options_for_select(TestCategory.all.map { |t| [t.description, t.id] })
  .field-box
    %label Parametro:
    = f.text_field :parameter, :class => "span8 inline-input"
  .field-box
    %label Resultado:
    = f.text_field :result, :class => "span8 inline-input"
  .field-box
    %label Unidad:
    = f.text_field :unit, :class => "span8 inline-input"
  .field-box
    %label Valores de Referencia:
    = f.text_field :reference_values, :class => "span8 inline-input"
  .field-box
    %label Tipo de Test:
    = f.text_field :test_type, :class => "span8 inline-input"
  .field-box
    %label Descripcion:
    = f.text_area :description, :class => "span8"
  .field-box
    = f.label :image
    = f.text_field :image, :class => "span8 inline-input"
  .span11.field-box.actions
    = f.submit 'Guardar', class: 'btn-glow primary'
    %span O
    = link_to 'CANCELAR', tests_path, class: 'reset'