.row
  .col-lg-12
    .page-header
      %h2 Examenes
 
.row  
  .col-lg-12
    %table.table.table-hover.table-striped.table-users
      %thead
        %tr
          %th.text-center Area
          %th.text-center Tipo de Examen
          %th.text-center Parametro
          %th.text-center Unidades
          %th.text-center Valores de Referencia
          %th.text-center
      %tbody
        - @tests.each do |test|
          %tr
            %td.text-center= test.test_category_description
            %td.text-center= test.test_type
            %td.text-center= test.parameter
            %td.text-center= test.unit
            %td.text-center= test.reference_values
            %td.text-center
              - if test.image.present?
                = image_tag test.image.url(:thumb)
              / = link_to test, :class => 'btn btn-primary btn-sm' do
              /   %i.icon.icon-edit.icon-white
              /   Ver
              = link_to edit_test_path(test), :class => 'btn btn-primary btn-sm' do
                %i.icon.icon-remove.icon-white
                Editar          
              = link_to "Eliminar", test, :class => 'btn btn-default btn-sm', method: :delete, :data => { :confirm => 'Esta seguro de Eliminar este Test?' }