%p#notice= notice

%p
  %b Parameter:
  = @test.parameter
%p
  %b Result:
  = @test.result
%p
  %b Unit:
  = @test.unit
%p
  %b Reference values:
  = @test.reference_values
%p
  %b Test type:
  = @test.test_type
%p
  %b Description:
  = @test.description
%p
  %b Image:
  = @test.image
%p
  %b Test category:
  = @test.test_category

= link_to 'Edit', edit_test_path(@test)
\|
= link_to 'Back', tests_path
