%h1 Listing controllers

%table
  %tr
    %th Home
    %th
    %th
    %th

  - @controllers.each do |controller|
    %tr
      %td= controller.home
      %td= link_to 'Show', controller
      %td= link_to 'Edit', edit_controller_path(controller)
      %td= link_to 'Destroy', controller, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Controller', new_controller_path
