.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        %img{:src => "/images/analizateOLD.png", :width => "315", :style => "margin: 6px 0 0 -80px"}/
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if can? :manage, User
          %li.dropdown
            %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Usuarios
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "Usuarios"}
              %li= link_to "Lista de Usuarios", "/users", tabindex: "-1"
              %li.divider
              %li= link_to "Nuevo Usuario", "/users/new", tabindex: "-1"
              %li.divider
              %li= link_to "Lista de Médicos", doctors_path, tabindex: "-1"


        - if can? :manage, Analysis
          %li.dropdown
            %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Registro
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "Analisis"}
              %li= link_to "Nuevo Registro", new_analysis_path, tabindex: "-1"
              %li.divider
              %li= link_to "Lista de Registros", analyses_path, tabindex: "-1"

        - if can? :manage, TestCategory
          %li.dropdown
            %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Edicion de Pruebas
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "Categorias"}
              %li= link_to "Lista de Areas", test_categories_path, tabindex: "-1"
              %li.divider
              %li= link_to "Nueva Area", new_test_category_path, tabindex: "-1"
              %li.divider
              %li= link_to "Lista de Examenes", tests_path, tabindex: "-1"
              %li.divider
              %li= link_to "Nuevo Examen", new_test_path, tabindex: "-1"

        - if can? :manage, Institution
          %li.dropdown
            %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Centros Médicos
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "Hospitales"}
              %li= link_to "Ver Todos", institutions_path, tabindex: "-1"
              %li.divider
              %li= link_to "Nueva Institucion", new_institution_path, tabindex: "-1"
              %li.divider
              %li= link_to "Lista de Hospitales", hospitals_institutions_path, tabindex: "-1"
              %li.divider
              %li= link_to "Lista de Farmacias", pharms_institutions_path, tabindex: "-1"
        - else
          %li= link_to "Hospitales", hospitals_institutions_path, tabindex: "-1"
          %li= link_to "Farmacias", pharms_institutions_path, tabindex: "-1"
          %li= link_to "Médicos", doctors_path, tabindex: "-1"


        - if can? :manage, Notice
          %li.dropdown
            %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Anuncios
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "Anuncios"}
              %li= link_to "Lista de Anuncios", notices_path, tabindex: "-1"
              %li.divider
              %li= link_to "Nuevo Anuncio", new_notice_path, tabindex: "-1"

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.full_name
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "Usuario"}
              %li= link_to "Información", profile_user_path(current_user), tabindex: "-1"
              %li.divider
              %li= link_to "Salir", destroy_user_session_path, tabindex: "-1", method: :delete
      -else
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown= link_to "Ingresar", new_user_session_path, tabindex: "-1"
          %li.dropdown= link_to "Registro", new_user_registration_path, tabindex: "-1"
/ / end navbar
