#sidebar-nav
  %ul#dashboard-menu
    %li.active
      .pointer
        .arrow
        .arrow_border
      %a{:href => "#"}
        %i.icon-home
        %span Inicio
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-group
        %span Usuarios
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Usuarios", "/users"
        %li= link_to "Nuevo Usuario", "/users/new"
        %li= link_to "Perfil de Usuario", '#'
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-edit
        %span Analisis
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Nuevo Analisis", new_test_category_path
        %li= link_to "Lista de Analisis", analyzes_path
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-code-fork
        %span Categorías
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Categorias", test_categories_path
        %li= link_to "Nueva Categoria", new_test_category_path
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-th-large
        %span Test
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Test", "/test"
        %li= link_to "Nuevo Test", "/test/new"
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-group
        %span Pacientes
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Pacientes", "/patient"
        %li= link_to "Nuevo Paciente", "/patient/new"
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-picture
        %span Medicos
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Medicos", "/doctor"
        %li= link_to "Nuevo Medico", "/doctor/new"
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-calendar-empty
        %span Hospitales
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Hospitales", "/hospital"
        %li= link_to "Nuevo Hospital", "/hospital/new"
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-edit
        %span Farmacias
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Farmacias", "/pharm"
        %li= link_to "Nuevo Farmacia", "/pharm/new"
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-edit
        %span Anuncios
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Anuncios", notices_path
        %li= link_to "Nuevo Anuncio", new_notice_path
