!!!
%html
  %head
    %title Analizate
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    /.notice= notice
    /.alert= alert

    / navbar
    /= I18n.t(user.user_type, scope: 'user.user_type') 
    /= render "layouts/navbar"
    /= render "layouts/navbar_test"
    = render "layouts/navbar_admin"
    /= render "layouts/navbar_doctors"
    /= render "layouts/navbar_patients"
    /= render "layouts/navbar_doctors"
    /= render "layouts/navbar_laboratory_personal"
    
    / end navbar

    /.container
    = yield