!!!
%html
  %head
    %title Analizate
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    /.notice= notice
    /.alert= alert

    / navbar
    = render "layouts/navbar"
    / end navbar

    / sidebar
    /= render "layouts/sidebar"
    / end sidebar

    / main container
    / .content
    /   .container-fluid
    /     #pad-wrapper.form-page
    /       .row-fluid.form-wrapper
    /         / left column
    /         .span10.column
    /           = yield
    /         / right column
    /         .span2.column.pull-right
    /           = render 'notices/slide'
    .container
      = yield


