!!!
%html
  %head
    %title Laboratorio Clinico Kolping
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    /.notice= notice
    /.alert= alert

    / navbar
    = render "layouts/navbar"
    
    / end navbar

    .container.bodylayout
      .row
        .col-lg-10
          = yield
        .col-lg-2
          = render "notices/slide"

    = render "layouts/footer"