!!!
%html
  %head
    %title Login
    = stylesheet_link_tag    "login", media: "all"
    = javascript_include_tag "login"
    = csrf_meta_tags
  %body
    .login-bg
      .row-fluid.login-wrapper
        %img.logo{:src => "/images/analizate.png"}/
        - if notice
          .notice= notice
        - if alert
          .alert= alert
        = yield
